<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Recommendation</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Anime Recommendation</h1>
    
    <form method="POST" action="/">
        <div class="genre-container">
            <h2>Select your favorite genres:</h2>
            {% for genre in all_genres %}
                <label><input type="checkbox" name="user_genres" value="{{ genre }}"> {{ genre }}</label>
            {% endfor %}
        </div>

        <div class="mb-3">
            <h2>Or enter a vague description of the anime you like:</h2>
            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
        </div>
        <button type="submit" class="submit-btn">Recommend Anime</button>
    </form>

    {% if not recommended_animes.empty %}
        <h2>Recommended Animes:</h2>
        <table class="anime-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Genres</th>
                    <th>Similarity Score</th>
                </tr>
            </thead>
            <tbody>
                {% for anime, score in zip(recommended_animes.iterrows(), top_similarity_scores) %}
                    <tr>
                        <td><a href="{{ anime[1].link }}" target="_blank">{{ anime[1].title }}</a></td>
                        <td>{{ ", ".join(anime[1].genre) }}</td>
                        <td>{{ "%.2f" | format(score) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</body>
</html>

